*.vs/
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates

*.VC.db
.sass-cache/
ipch/
*.aps
*.ncb
*.dep
*.obj
*.lib
*.exe
*.dll
*.pdb
*.ilk
*.idb

[Dd]ebug/
[Rr]elease/
x64/
x86/
arm/
ARM64/
build/
bin/
obj/
*.tlog
*.log

[Mm]akefile.Debug
[Mm]akefile.Release

packages/
*.nupkg

*.obj.rsp
*.pgc
*.pgd
*.rsp
*.wrk
*.tlb
*.tlh
*.tmp
*.vspscc
*.vssscc
.vshost.
*.docproj
*.vcxproj.filters

CMakeLists.txt.user
out/